@charset "utf-8";

.lazy {
    opacity: 0;
    transition: all 1s ease-in-out;
}
.fv_lazy {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.c_delay5 {
    transition-delay: 0.5s;
}
.c_delay10 {
    transition-delay: 1s;
}
.c_delay15 {
    transition-delay: 1.5s;
}
.lazy.on {
    opacity: 1;
}
.lazy_hr {
    width: 100%;
    height: 2px;
    overflow: hidden;
    position: relative;
}
.lazy_hr:before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 1px;
    border-bottom: 1px dotted #ccc;
    transition: all 1s ease-in-out;
}
.lazy_hr.on:before {
    left: 0;
}

.lazy_bg {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    transition: all 1.5s ease-in-out;
}
.lazy_bg.on {
    -webkit-transform: none;
    transform: none;
}

.lazy_top {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
}
.lazy_top.on {
    -webkit-transform: none;
    transform: none;
}

.lazy_bottom {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
}
.lazy_bottom.on {
    -webkit-transform: none;
    transform: none;
}

.lazy_left {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
}
.lazy_left.on {
    -webkit-transform: none;
    transform: none;
}

.lazy_right {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
}
.lazy_right.on {
    -webkit-transform: none;
    transform: none;
}

.lazy_txt {
    line-height: 160%;
    position: relative;
}
.lazy_txt .txt10 {
    font-size: 10px;
}

@media screen and (max-width: 1000px) {
    .c_delay10 {
        transition-delay: 0.1s;
    }
    .c_delay15 {
        transition-delay: 0.1s;
    }
}
