.button {
  text-align: center;
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2rem;
  margin-top: 2rem;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
  position: relative;
  ;

  a {
    padding: 1rem;
    display: block;
    color: white;
    font-size: 2.2rem;

    span::after {
      content: "";
      position: absolute;
      top: 2rem;
      right: 2rem;
      border: 3px solid;
      width: 15px;
      height: 15px;
      border-color: white white transparent transparent;
      transform: rotate(45deg);


    }
  }

}

.bg-red {
  background-color: #E02006;
}

.bg-green {
  background-color: #00A73C;
}